<a href="https://colab.research.google.com/github/rkqhed1212/megabig/blob/master/pandas_2_%EC%97%B0%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [20]:
dataes = pd.date_range('2019-10-22',periods=6)
dataes

DatetimeIndex(['2019-10-22', '2019-10-23', '2019-10-24', '2019-10-25',
               '2019-10-26', '2019-10-27'],
              dtype='datetime64[ns]', freq='D')

sadasd

In [21]:
pd.DataFrame

pandas.core.frame.DataFrame

In [24]:
df= pd.DataFrame(np.random.randn(6,4),index=dataes, columns=['A','B','C','D'])
df

                   A         B         C         D
2019-10-22  1.168435  1.715642 -1.840828  0.032547
2019-10-23 -2.632491  0.020111  0.642379 -0.087645
2019-10-24 -0.498802 -1.095818 -0.186463 -0.902903
2019-10-25  0.050049 -0.789347  0.120385  0.011295
2019-10-26  2.034358 -0.331135  0.116702  0.881352
2019-10-27 -0.459417  1.007739  1.423321 -1.307063

In [25]:
df.head(3)

                   A         B         C         D
2019-10-22  1.168435  1.715642 -1.840828  0.032547
2019-10-23 -2.632491  0.020111  0.642379 -0.087645
2019-10-24 -0.498802 -1.095818 -0.186463 -0.902903

In [26]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [28]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.056312  0.087865  0.045916 -0.228736
std    1.604818  1.081350  1.084193  0.773999
min   -2.632491 -1.095818 -1.840828 -1.307063
25%   -0.488956 -0.674794 -0.110671 -0.699089
50%   -0.204684 -0.155512  0.118544 -0.038175
75%    0.888838  0.760832  0.511881  0.027234
max    2.034358  1.715642  1.423321  0.881352

In [31]:
df.sort_values(by='B', ascending=False)

                   A         B         C         D
2019-10-22  1.168435  1.715642 -1.840828  0.032547
2019-10-27 -0.459417  1.007739  1.423321 -1.307063
2019-10-23 -2.632491  0.020111  0.642379 -0.087645
2019-10-26  2.034358 -0.331135  0.116702  0.881352
2019-10-25  0.050049 -0.789347  0.120385  0.011295
2019-10-24 -0.498802 -1.095818 -0.186463 -0.902903

In [32]:
df['A']

2019-10-22    1.168435
2019-10-23   -2.632491
2019-10-24   -0.498802
2019-10-25    0.050049
2019-10-26    2.034358
2019-10-27   -0.459417
Freq: D, Name: A, dtype: float64

In [33]:
df[0:3]

                   A         B         C         D
2019-10-22  1.168435  1.715642 -1.840828  0.032547
2019-10-23 -2.632491  0.020111  0.642379 -0.087645
2019-10-24 -0.498802 -1.095818 -0.186463 -0.902903

In [34]:
df[3:]

                   A         B         C         D
2019-10-25  0.050049 -0.789347  0.120385  0.011295
2019-10-26  2.034358 -0.331135  0.116702  0.881352
2019-10-27 -0.459417  1.007739  1.423321 -1.307063